
hr {
    margin-left: 4%;
    margin-right: 5%;
    border: 2px solid grey;
}

.title {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  font-weight: 550;
  margin-left : 6%;
  color: grey;
}

.Fig {
	border: 3px solid grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 218px;
	width: 219px;
	padding: 5px;
}

span {
  	width: 0.6em;
  	font-size: 200%;
  	line-height: 50%;
  	color: #5A6160;
}

h4 {
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 700;
  	text-decoration: underline;
  	color: #5A6160;
}

h5{
	text-align: right;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 600;
  	color: #5A6160;
  	margin-right: 40px;
}

.Box {
	height: 68px;
	width: 68px;
	border: 2px solid grey;
}

.row {
	margin: 0px;
 }

.clr1 {
  background: #008891;
}

.clr2 {
  background: #839b97;
}

.clr3 {
  background: #e7e7de;
}

@media screen and (max-width: 768px) {
   .title {
   	float: center;
    margin : 0px;
    text-align: center;
   }
}
