.aaa {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 22px;
	font-weight: 100;
	text-align: Center;
	text-decoration: none;
	text-indent: 30px;
	color: grey;
	letter-spacing: 10px;
	word-spacing: 10px;
	line-height: 10px;
}
